@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Oswald-b;
    src: url(../fonts/Oswald-Bold.ttf);
    font-display: swap;
}
.font-Oswald-b {
    font-family: Oswald-b;
}
@font-face {
    font-family: Oswald-m;
    src: url(../fonts/Oswald-Medium.ttf);
    font-display: swap;
}
.font-Oswald-m {
    font-family: Oswald-m;
}
@font-face {
    font-family: Oswald-r;
    src: url(../fonts/Oswald-Regular.ttf);
    font-display: swap;
}
.font-Oswald-r {
    font-family: Oswald-r;
}
@font-face {
    font-family: Oswald-l;
    src: url(../fonts/Oswald-Light.ttf);
    font-display: swap;
}
.font-Oswald-l {
    font-family: Oswald-l;
}
@font-face {
    font-family: roboto-b;
    src: url(../fonts/Roboto-Bold.ttf);
    font-display: swap;
}
.font-roboto-b {
    font-family: roboto-b;
}
@font-face {
    font-family: roboto-m;
    src: url(../fonts/Roboto-Medium.ttf);
    font-display: swap;
}
.font-roboto-m {
    font-family: roboto-m;
}
@font-face {
    font-family: roboto-r;
    src: url(../fonts/Roboto-Regular.ttf);
    font-display: swap;
}
.font-roboto-r {
    font-family:roboto-r;
}
@font-face {
    font-family: merriweather-b;
    src: url(../fonts/Merriweather-Bold.ttf);
    font-display: swap;
}
.font-merriweather-b {
    font-family:merriweather-b;
}
@font-face {
    font-family: merriweather-r;
    src: url(../fonts/Merriweather-Regular.ttf);
    font-display: swap;
}
.font-merriweather-r {
    font-family:merriweather-r;
}
@font-face {
    font-family: merriweather-l;
    src: url(../fonts/Merriweather-Light.ttf);
    font-display: swap;
}
.font-merriweather-l {
    font-family:merriweather-l;
}
/* drawer */
#drawer{
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideright;
    animation-name: slideright;
}
@-webkit-keyframes slideright {
    0% {transform: translate(-100%,0px);}
    100% {transform: translate(0px,0px);}
}
@keyframes slideright {
    0% {transform: translate(100%,0px);}
    100% {transform: translate(0%,0px);}
}
/* timer */
.countdown-row {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}
.countdown-section {
    display: block;
    float: left;
    text-align: center;
    border-radius: 5px;
    margin: 0px;
    padding: 0px 10px;
}
.countdown-amount {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}
.is-countdown {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.elAlign_center {
    text-align: center;
}
.wideCountdownSize1.cdStyleCircleLine .countdown-amount {
    border-radius: 100px;
    min-width: 55px;
}
.cdWhite.cdStyleCircleLine .countdown-amount {
    color: #FFF;
    border: 4px solid #FFF;
}
.wideCountdownSize1 .countdown-amount {
    font-size: 18px;
}
.wideCountdownSize1 .countdown-period {
    font-size: 15px;
}
.cdLabelWhite .countdown-period {
    color:#fff;
}
.cdLabelBold .countdown-period {
    font-weight: bold;
}
/* video player 4  */
.innerContent {
    word-wrap: break-word;
}
.bgCover {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: repeat repeat !important;
    background-position: center center;
}
.elVideoWidth100 {
    width: 100% !important;
}
.de-editable {
    position: relative;
    cursor: auto !important;
}
.elVideoplaceholder {
    position: relative;
    padding-bottom: 56.25% !important;
    padding-top: 25px !important;
    height: 0;
    margin-bottom: 0px;
    z-index: 1;
    display:none;
}
.elVideoplaceholder_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2B2B2B;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    background-image: url(/images/videoplaceholderbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
}
.elVideo {
    position: relative;
    overflow: hidden;
    display:block !important;
}
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.cursor-pointer{
    cursor: pointer !important;
}

.bg-white{
    background-color: white;
}

.text-white{
    color: white;
}

.bg-blue{
    background-color: #231C62;
}

.text-blue{
    color: #231C62;
}
/* Discount price section 7  */
.pricing-panel .panel-heading {
    text-align: center;
    padding: 25px 15px;
    margin-bottom: 0px;
}
.pricely-label {
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 auto 0px;
    text-transform: uppercase;
}
.pricely-currency {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 30px;
}
.pricely-figure {
    padding: 20px 0 20px;
    position: relative;
}
.pricely-amount {
    display: inline-block;
    font-size: 70px;
    line-height: 70px;
    padding: 0 0 0 17px;
}
/* faq */
.faqTitle {
    padding-bottom: 5px;
}
.elDividerStyle1 .elDividerInner {
    border-top-width: 2px;
    border-top-style: solid;
}
/* video player css */
.block{
    font-size: 60px;
    text-align: center;
    display: flex;
}
.block > *{
    margin: auto;
    display: inline-block;
}

/* popup */
#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#26262c;
    display:none;
}  
#mask1 {
position:absolute;
left:0;
top:0;
z-index:9000;
background-color:#26262c;
display:none;
}
#boxes .window {
position:fixed;
left:0;
top:100px !important;
width:100%;
display:none;
z-index:9999;
padding:20px;
border-radius: 5px;
text-align: center;
}
#boxes #dialog {
width:780px; 
height:auto;
padding:10px;
background-color:#ffffff;
font-size: 15pt;
}  
#boxes #dialog1 {
width:780px; 
height:auto;
padding:10px;
background-color:#ffffff;
font-size: 15pt;
}
.agree:hover{
background-color: #D1D1D1;
}
.popupoption:hover{
    background-color:#D1D1D1;
    color: green;
}
.popupoption2:hover{
    color: red;
}

/* sideNav Button */
#st-2 {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    backface-visibility: hidden;
    display: block;
    position: fixed;
    opacity: 1;
    text-align: left;
    top: 180px;
    z-index: 94034;
}
#st-2 .st-total {
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: #fff;
    color: #555;
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    margin-right: 0;
    min-height: 34px;
    max-width: 80px;
    opacity: 1;
    padding: 4px 0;
    text-align: center;
    width: 48px;
}
#st-2 .st-btn.st-first {
    border-top: none;
    border-top-right-radius: 4px;
}
#st-2 .st-btn[data-network='facebook'] {
    background-color: #4267B2;
}
#st-2 .st-btn[data-network='whatsapp'] {
    background-color: #25d366;
}
#st-2 .st-btn[data-network='twitter'] {
    background-color: #55acee;
}
#st-2 .st-btn[data-network='email'] {
    background-color: #7d7d7d;
}
#st-2 .st-btn[data-network='messenger'] {
    background-color: #448AFF;
}
#st-2 .st-btn.st-last {
    border-bottom: none;
    border-bottom-right-radius: 4px;
}
#st-2 .st-toggle {
    left: -48px;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: #ccc;
    border-bottom-right-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    width: 48px;
}
#st-2 .st-btn > img {
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 24px;
    margin-left: 0;
    vertical-align: top;
    width: 24px;
}
#st-2 > div {
    clear: left;
    float: left;
}
#st-2.st-left .st-toggle .st-left {
    display: inline-block;
}
#st-2.st-left .st-toggle .st-right {
    display: none;
}
#st-2.st-left {
    left: 0px;
}
#st-2.st-left.st-hidden .st-toggle .st-right {
    display: inline-block;
}
#st-2.st-hidden.st-left {
    left: -48px;
}
#st-2.st-hidden.st-right {
    left: -48px;
}
#st-2 .st-btn:hover {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#st-2:hover .st-toggle {
    left: 0;
}
#st-2.st-has-labels .st-btn:hover {
    width: 120px;
}
#st-2 .st-btn > span {
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    left: -35px;
    letter-spacing: 0.5px;
    opacity: 0;
    padding: 0 6px;
    position: relative;
    vertical-align: top;
    filter: alpha(opacity=0);
}
#st-2 .st-btn[data-network='facebook'] > span {
    color: #fff;
}
#st-2 .st-btn[data-network='whatsapp'] > span {
    color: #fff;
}
#st-2 .st-btn[data-network='twitter'] > span {
    color: #fff;
}
#st-2 .st-btn[data-network='email'] > span {
    color: #fff;
}
#st-2 .st-btn[data-network='messenger'] > span {
    color: #fff;
}
#st-2 .st-btn:hover > span {
    opacity: 1;
    display: inline-block;
    left: 0;
    filter: alpha(opacity=100);
}
#st-2 .st-btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: NaNpx;
    height: 48px;
    line-height: 24px;
    margin-bottom: 0;
    opacity: 1;
    overflow: hidden;
    padding: 12px;
    position: relative;
    text-align: left;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 48px;
}
#st-2.st-hidden .st-toggle {
    border-top-right-radius: 4px;
}
#st-2.st-hidden:hover .st-toggle {
    left: 48px;
}
#st-2.st-hidden {
    width: 96px;
}

/* youtube video css */
.play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.play-button,
.play-button:before {
    position: absolute;
}
.play-button,
.play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
/* mobile sidenav arrow css  */
.arrow {
    display: inline-block;
    padding: 20px 0px;
    font-family: arial, helvetica, sans-serif;
    border: 2px solid rgb(0,0,0);
    border-radius: 5px 0 0 5px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}   
.arrow::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 25px;
    right: -16px;
    width: 30px;
    height: 30px;
    border-top: 2px solid rgb(0,0,0);
    border-right: 2px solid rgb(0,0,0);
    background-color: #ccc;
    transform: rotate(45deg);
}
.carousel-control-prev-icon{
    background-image: url(../icons/ArrowBlue.svg);
    transform: rotate(180deg);
}
.carousel-control-next-icon{
    background-image: url(../icons/ArrowBlue.svg);
}
.carousel-control-next .carousel-control-prev{
    width: 9% !important;
}